<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Add "Visual CMS" under the existing Mint Marketing menu from mint_banner -->
    <menuitem id="menu_visual_cms"
              name="Visual CMS"
              parent="mint_banner.menu_mint_banner_root"
              url="/visual-cms"
              sequence="5"/>

</odoo>
